
<div *ngIf="isAdmin" class="container-fluid">
    <div class="row">
    <div class="col-12">
    <form [formGroup]="formEstudiante">
    <div>
    
    <mat-label class="label">Nombre</mat-label>
    <input class="form-control" matInput placeholder="Ingrese un Nombre"  formControlName="nombre"  [class.is-invalid]="nombreNoValido" >
    <small *ngIf="nombreNoValido" class="text-danger">Ingrese un nombre valido </small>
    
    </div>
    
    <div>
    <mat-label class="label">Apellido</mat-label>
    <input class="form-control" matInput placeholder="Ingrese un Apellido" formControlName ='apellido' [class.is-invalid]="apellidoNoValido">
    <small *ngIf="apellidoNoValido" class="text-danger">Ingrese un apellido valido </small>
    </div>
    
    <div>
    <mat-label class="label">Dni</mat-label>
    <input class="form-control" matInput placeholder="Ingrese un Dni" formControlName="dni" [class.is-invalid]="dniNoValido" >
    <small *ngIf="dniNoValido" class="text-danger">Ingrese un dni Valido </small>
    
    </div>
    
    <div>
    <mat-label class="label">Email</mat-label>
    <input class="form-control" matInput placeholder="Ingrese un email valido" formControlName="email" [class.is-invalid]="emailNoValido">
    <small *ngIf="emailNoValido" class="text-danger">Ingrese un email Valido </small>
    
    </div>
    
    <div>
    <mat-label class="label">Nota</mat-label>
    <input class="form-control" matInput placeholder="Ingrese una nota valido" formControlName="nota" [class.is-invalid]="notaNoValido">
    <small *ngIf="notaNoValido" class="text-danger">Ingrese una Nota Valida </small>
    
    </div>
    <div>
      <mat-label  class="label">CURSO</mat-label>
     
        <select formControlName="curso"  matNativeControl required>
          <option value="SINASIGNAR">SIN ASIGNAR</option>
          <option value="ANGULAR">ANGULAR</option>
          <option value="JAVASCRIPT">JAVASCRIPT</option>
          <option value="REACT">REACT</option>
        </select>
    
      <small *ngIf="notaNoValido" class="text-danger">Ingrese una Nota Valida </small>
      
      </div>
    
    <div>
    <div class="botones">
    <button (click)="agregarAlumno()" mat-raised-button color="primary" [disabled]="formEstudiante.invalid" >Enviar</button>
    </div>
    </div>
    </form>
    </div>
    
    </div>
    
    </div>
    <h2>Listado general de alumnos</h2>
    
    <div class="row">
        <div class="col-12">
        
        
            <table mat-table [dataSource]="listaAlumnos" class="mat-elevation-z8">
        
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre</th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <!-- Apellido Column -->
                <ng-container matColumnDef="apellido">
                  <th mat-header-cell *matHeaderCellDef> Apellido </th>
                  <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>
              
                 
                    <!-- Detalles Column --> 
                 <ng-container matColumnDef="detalles">
                  <th mat-header-cell *matHeaderCellDef > Detalles </th>
                  <td  mat-cell *matCellDef="let element"> <button *ngIf="isAdmin" (click)="mostrarOcultar(element)"  class="material-symbols-outlined">chat</button>
                    </td>
                </ng-container>
                 
            
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
        </div>
        <!--tabla chica-->
        <div [ngClass]=" isVisible ? 'mostrar':'ocultar'">
          <h2>Detalle del alumno</h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">DNI</th>
                <th scope="col">EMAIL</th>
                <th scope="col">NOTA</th>
                <th scope="col">CURSO</th>
                <th scope="col">ELIMINAR</th>
                <th scope="col">EDITAR</th>
                
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let alumno of listaAlumnos3">

                <td >{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.dni}}</td>
                <td>{{alumno.email}}</td>
                <td>{{alumno.nota}}</td>
                <td>{{alumno.curso}}</td>
                <td><button *ngIf="isAdmin" (click)="eliminarAlumno(alumno)"><span  class="material-symbols-outlined">delete</span>  </button></td>
                <td><button *ngIf="isAdmin" (click)="editarAlumno(alumno)"><span  class="material-symbols-outlined">edit</span>  </button></td>
              </tr>
              <br>
              <h2>DETALLE CUSO</h2>
              <!-- DATOS DEL CURSO-->
            

              <div *ngFor="let curso of detalleCurso">

                <h5> NOMBRE DEL CURSO: {{curso.nombre}}</h5>
                <h5>DIA DEL CURSO: {{curso.dia}}</h5>
                <h5>HORARIO DEL CURSO:{{curso.hora}}</h5>
                <h5>CANT HORAS DEL CURSO:{{curso.cantHoras}</h5>
               
              
                
              </div>
            
            </tbody>
          </table>
        </div>