<div  *ngIf="isAdmin"  class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="formCurso" >
<!-- INICIO NOMBRE-->
            <div class="row g-3 align-items-center m-1">
                <div class="col-auto">
                  <label  class="col-form-label">Nombre</label>
                </div>
                <div class="col-auto">
                  <input  class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                </div>
                <div class="col-auto">
                  <span *ngIf="nombreNoValido" id="passwordHelpInline" class="form-text text-danger">
                    El nombre ingresado es invalido
                  </span>
                </div>
              </div>

<!-- FIN NOMBRE-->

<!-- INICIO ALUMNOS-->
<div class="row g-3 align-items-center m-1">
    <div class="col-auto">
      <label  class="col-form-label">Alumnos</label>
    </div>
    <div class="col-auto">
      <input  class="form-control" formControlName="alumnos" [class.is-invalid]="alumnosNoValido">
    </div>
    <div class="col-auto">
      <span *ngIf="alumnosNoValido"  id="passwordHelpInline" class="form-text text-danger">
        La cantidad de Alumnos es invalida
      </span>
    </div>
  </div>

  <!-- INICIO CANT HORAS-->
<div class="row g-3 align-items-center m-1">
    <div class="col-auto">
      <label  class="col-form-label">Cant.Horas</label>
    </div>
    <div class="col-auto">
      <input  class="form-control" formControlName="cantHoras" [class.is-invalid]="cantHorasNoValido">
    </div>
    <div class="col-auto">
      <span *ngIf="cantHorasNoValido"  id="passwordHelpInline" class="form-text text-danger">
       La cantidad de horas es invalido 
      </span>
    </div>
  </div>

<!-- FIN DNI-->

 <!-- INICIO DIA-->
 <div class="row g-3 align-items-center m-1">
    <div class="col-auto">
      <label  class="col-form-label">DIA.....</label>
    </div>
    <div class="col-auto">
      <input  class="form-control" formControlName="dia" [class.is-invalid]="diaNoValido">
    </div>
    <div class="col-auto">
      <span *ngIf="diaNoValido"  id="passwordHelpInline" class="form-text text-danger">
        El dia es invalido 
      </span>
    </div>
  </div>

<!-- FIN DIA-->

<!-- INICIO HORA-->
<div class="row g-3 align-items-center m-1">
    <div class="col-auto">
      <label  class="col-form-label">HORA.....</label>
    </div>
    <div class="col-auto">
      <input  class="form-control" formControlName="hora" [class.is-invalid]="horaNoValido">
    </div>
    <div class="col-auto">
      <span *ngIf="horaNoValido"  id="passwordHelpInline" class="form-text text-danger">
        La hora es invalida 
      </span>
      <button class="btn btn-dark m-2" (click)="agregarCurso()"  [disabled]="formCurso.invalid">Enviar</button>
    </div>
  </div>

<!-- FIN HORA-->
</form>




  
    </div>
    </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table mat-table [dataSource]="listaCursos" class="mat-elevation-z8">
        
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Nombre Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre</th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                   <!-- Detalles Alumnos Inscriptos --> 
                   <ng-container matColumnDef="detalles">
                    <th mat-header-cell *matHeaderCellDef > Detalles </th>
                    <td mat-cell *matCellDef="let element"> <button  *ngIf="isAdmin" (click)="mostrarOcultar(element)"  class="material-symbols-outlined">chat</button>
                      </td>
                  </ng-container>
                 
        
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
           
        
        </div>
    
</div>

  <!--tabla chica-->
  <div [ngClass]=" isVisible ? 'mostrar':'ocultar'">
    <h2>Detalle del alumno</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">ALUMNOS</th>
          <th scope="col">CANT HORAS</th>
          <th scope="col">DIAS</th>
          <th scope="col">HORARIO</th>
          <th scope="col">ELIMINAR</th>
          <th scope="col">EDITAR</th>
          
        </tr>
      </thead>
      
      <tbody>
        <tr *ngFor="let curso of listaCurso3">

          <td >{{curso.nombre}}</td>
          <td>{{curso.alumnos}}</td>
          <td>{{curso.cantHoras}}</td>
          <td>{{curso.dia}}</td>
          <td>{{curso.hora}}</td>
          <td><button *ngIf="isAdmin" (click)="eliminarCurso(curso)"><span  class="material-symbols-outlined">delete</span>  </button></td>
          <td><button *ngIf="isAdmin" (click)="editarCurso(curso)"><span  class="material-symbols-outlined">edit</span>  </button></td>
        </tr>
        <br>
        <h2>LOS ALUMNOS INSCRIPTOS SON</h2>
        <!-- DATOS DEL CURSO-->
        
        <ul *ngFor="let alumno of alumnosInscriptos2">
          <li>{{alumno.nombre}}</li>
        </ul>

       
      
      </tbody>
    </table>
  </div>